<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>You Finally Made It</title>
</head>
<body>
<h1>In one word, what is your greatest fear.</h1>
<form method="post" action="/success">
  <p>Answer:</p>
  <br />
  <input type="text" name="answer" />
  <br />
  <h2>Give further reasoning if you'd like.</h2>
  <br/>
  <p>Reasoning:</p>
  <br />
  <input type="text" name="explination" />
  <br /><br />
  <input type="submit" value="Submit" />
</form>

</body>
</html>